.searchResult {
    padding-top: 60px;
    // height: calc(100vh - 144px);
    height: 100%;
    aside {
        width: 100%;
        height: 60px;
    }
    .searchResultPage{
        width: 100%;
         
        background-color: rgb(222, 218, 218);
        .title{
            width: 95%;
            background-color: white;
            height: 50px;
            margin: 0 auto;
            line-height: 50px;
            padding-left: 10px;
        }
        .Category{
            width: 95%;
            // margin: 0 auto;
            padding-bottom: 60px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            .card{
                background-color: white;
            }
        }
    }
}