*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.task{
    position: relative;
    width: 80%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #D6DCE6;
    // background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin: 0 auto;
    overflow: hidden;
    .editCont{
        width: 100%;
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        z-index: 2;
        h3{
            font-size: 28px;
            letter-spacing: 2px;
            color: black;
        }
        .editOpen{
            width: 60%;
            min-width: 300px;
            height: auto;
            background-color: #FFFEF2;
            box-shadow: 1px 2px 6px 1px #2d0349;
            border-radius: 10px;
            .editBtn{
                width: 90%;
                &.active{
                    border-color: rgb(14, 0, 20);
                    div{

                        background-color: rgb(14, 0, 20);
                       
                    }
                }
            }
            &.active{
                background-color: #2d0349;
                box-shadow: 1px 2px 6px 1px rgb(14, 0, 20);
                    h3{
                        color: #FFFEF2;
                    }
            }
        }
        .formCont{
            input{
                width: 90%;
            }
        }
    }
    .formCont{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        form{
            width: 70%;
            margin: 0 auto;
            div{
                position: relative;
            }
        }
        .req{
            position: absolute;
            top: 10px;
            font-size: 20px;
            display: inline-block;
            color: rgb(219, 64, 64);
        }
        
        input{
            width: 50%;
            height: 40px;
            margin: 5px auto;
            border: 0.1px solid #2d0349;
            outline: none;
            background-color: white;
            border-bottom: 2px solid #2d0349;
            padding: 5px;
        }
        .addBtn, .editBtn{
            display: block;
            position: relative;
            height: 40px;
            margin: 10px auto;
            outline: none;
            border: 2px solid #2d0349;
            color: #2d0349;
            font-size: 15px;
            font-weight: bold;
            z-index: 1;
            overflow: hidden;
            transition: 0.3s ease-in;
            letter-spacing: 2px;
            cursor: pointer;
            div{
                position: absolute;
                width: 0;
                height: 100%;
                top: 0;
                right: 0;
                left: unset;
                z-index: -1;
                transition: 0.3s ease-in;
                background-color: #2d0349;
            }
            &:hover{
                color: #FFFEF2;
                div{
                    left: 0;
                    right: unset;
                    width: 100%;
                }
            }
           
            &:active{
                transform: scale(1.02)
            }
        }
        .phoneNumber{
            width: 50%;
            margin: 0 auto;
        }
    }
    .addCont{
        width: 100%;
        height: auto;
        max-height: 300px;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        &::-webkit-scrollbar{
            width: 10px;
        }
        &::-webkit-scrollbar-track{
            box-shadow: inset 0 0 5px rgb(198, 0, 0);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb{
            background: #c27dfc;
            border-radius: 10px;
        }
        .done{
            width: 95%;
            height: auto;
            text-align: center;
            margin: 0 auto;
            padding-bottom: 20px;
            table, th, td{
                border-collapse: collapse;
            }
            tr{
                height: 50px;
                background-color: #ffffff;
                border-bottom: 10px solid #D6DCE6;
                padding-bottom: 5px;
            }
            .icon{
                width: 40%;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: none;
                td{
                    svg{
                        width: 30px;
                        height: 30px;
                        font-size: 15px;
                        background-color: #D6DCE6;
                        color: rgb(18, 192, 18);
                    }
                    .todo{
                        color: rgb(237, 44, 44);
                    }
                }
                
            }
            .userCont{
                width: 100%;
                height: 40px;
                background-color: blue;
                margin: 5px auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .edit, .close{
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    margin: 0 2px;
                    border-radius: 2px;
                    line-height: 30px;
                    box-shadow: 1px 1px 5px 1px black;
                    &:active{
                        transform: scale(0.8);
                    }
                    &.active{
                        background-color: #2d0349;
                        
                    }
                }
                .edit{
                    svg{
                        color: green;
                    }
                }
                .close{
                    svg{
                        color: red;
                    }
                }
                &.active{
                    background-color: rgb(14, 0, 20);
                    color: #FFFEF2;
                    
                }
            }
            &.active{
                background-color: #2d0349;
                h2{
                    color: #FFFEF2;
                }
            }
        }
        
    }
}
@media only screen and (min-width: 630px){
    .addBtn{
        width: 200px;
    }
    .userCont{
        height: 30px;
    }
    .req{
        right: 10px;
    }
}
@media only screen and (max-width: 630px){
    .addBtn{
        width: 80%;
    }
    .req{
        right: 1px;
    }
    .userCont{
        width:95%;
        height: 120px;
        margin: 2px auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 500px){
    .task{
        width: calc(100% - 100px);
    }
    .editOpen{
        width: calc(100% - 100px);
    }

}