section{
    padding-top: 60px;
}
.categoryy{
    padding-top: 60px;
    aside{
        width: 100%;
        height: 60px;
    }
}
.categoryPage{
    width: 100%;
    display: flex;
}
.filterBar{
    width: 30%;
    height: 100vh;
    .filterProduct{
        width: 100%;
        height: auto;
        border-bottom: 1px solid rgb(222, 218, 218);
        padding: 10px;
        div{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin-top: 10px;
            button{
                height: 25px;
                outline: none;
                background-color: white;
                border: 1px solid black;
                cursor: pointer;
            }
            .two{
                background-color: rgb(50, 50, 227);
                border: none;
                color: white;
                &:hover{
                    background-color:rgb(29, 29, 220);
                }
            }
        }
    }
}
.Category{
    width: calc(100% - 50px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // gap: 10px;
    margin: 0 auto;
    a{
        text-decoration: none;
        color: black;
    }
    .card{
        border: 1px solid rgb(222, 218, 218);
        text-align: center;
        height: auto;
        // padding: 20px;
        padding-bottom: 20px;
        &:hover{
            box-shadow: 0px 0px 12px 5px rgba(34, 60, 80, 0.2);
        }
        .cardProductNamePhones, .cardProductNameTablets{
            width: 95%;
            margin: 0 auto;
            height: 40px;
            h2{
                font-size: 16px;
            }
        }
        .cardProductName, .cardProductNameWatch{
            width: 95%;
            margin: 0 auto;
            height: 70px;
            h2{
                font-size: 14px;
            }
        }
        p{
            margin-top: 5px;
        }
        img{
            width: 60%;
            // height: 70%;
        }
        button{
            width: 100px;
            height: 30px;
            margin-top: 10px;
            background-color: rgb(50, 50, 227);
            outline: none;
            border: none;
            color: white;
            cursor: pointer;
            &:hover{
                background-color:rgb(29, 29, 220);
            }
        }
    }
}
@media only screen and (max-width: 400px){
    .filterBar{
        display: none;
    }
    .Category{
        grid-template-columns: repeat(2, 1fr);
    }
}