*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    width: 100%;
    height: 200px;
    background-color: #2d0349;
    .footer{
        margin: 0 auto;
        padding-top: 30px;
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div:nth-child(1) span{
            display: block;
            color: #FFFEF2;
        }
        .more{
            text-align: center;
            span{
                color: #FFFEF2;
            }
            ul{
                padding-top: 5px;
                list-style-type: none;
                color: #696969;
                text-align: center;
                .lang{
                    display: inline-block;
                    margin: 5px auto;
                    outline: none;
                    border: none;
                    height: 23px;
                    background-color: #2d0349;
                    color: #FFFEF2;
                    &:hover{
                        border-bottom: 1px solid white;
                    }
                }
            }
            & + div{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100px;
                a{
                    svg{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}