.radius{
    margin-top: 10px;
    margin-left: 50px;
    width: 80px;
    height: 80px;
    position: relative;
    .htmlSize{
        text-align: center;
        line-height: 60px;
        font-weight: 600;
        position: absolute;
        z-index: 2;
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
        background-color: #bebdb0;
        border-radius: 50%;
    }
}
.radius .boo .rotate,
.radius .boo .rotater{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFEF2;
    border-radius: 100%;
    clip: rect(0px, 80px, 80px, 40px);
}
.radius .boo .rotate .left{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 40px, 80px, 0px);
    background-color: chocolate;
}
.radius .boo .rotater .right{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 40px, 80px, 0px);
    background-color: chocolate;
}
.radius:nth-child(2) .boo .rotate .left,
.radius:nth-child(2) .boo .rotater .right{
    background-color: blue;
}
.radius:nth-child(3) .boo .rotate .left,
.radius:nth-child(3) .boo .rotater .right{
    background-color: violet;
}
.radius:nth-child(4) .boo .rotate .left,
.radius:nth-child(4) .boo .rotater .right{
    background-color: #a8a805;
}
.radius:nth-child(5) .boo .rotate .left,
.radius:nth-child(5) .boo .rotater .right{
    background-color: rgb(71, 144, 240);
}
.radius .boo .rotate .left{
    z-index: 1;
    animation: left 2s linear both;
}
.radius .boo .rotater{
    z-index: 1;
    transform: rotate(180deg);
}
.radius .boo .rotater .right{
    animation: right 2s linear both;
    animation-delay: 2s;
}

.radius:nth-child(2) .boo .rotater div,
.radius:nth-child(3) .boo .rotater div{
    animation: cssRight 2s linear both;
    animation-delay: 2s;
}
.radius:nth-child(4) .boo .rotater div{
    animation: jsRight 1s linear both;
    animation-delay: 2s;
}
.radius:nth-child(5) .boo .rotater div{
    animation: react 1s linear both;
    animation-delay: 2s;
}
@keyframes left{
    100%{
        transform: rotate(180deg);
    }
}
@keyframes right{
    100%{
        transform: rotate(155deg);
    }
}
@keyframes cssRight{
    100%{
        transform: rotate(142deg);
    }
}
@keyframes jsRight{
    100%{
        transform: rotate(30deg);
    }
}
@keyframes react{
    100%{
        transform: rotate(20deg);
    }
}