*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section2{
    width:100%;
    height: auto;
    background-color: #e0dfd8;
    padding-bottom: 60px;
    padding-top: 60px;
    h3{
        font-size: 55px;
        font-weight: 600;
        text-align: center;
        display: block;
    }
    .skill{
        width: 50%;
        margin: 0 auto;
        padding-top: 30px;
        .front{
            width: 100px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background-color: #FFFEF2;
            border-radius: 5px;
        }
        .frontSkill{
            margin: 10px 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            .html, .css, .sass, .js, .react{
                margin: 10px 0;
                height: 80px;
                border-radius: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: #696969;
                div{
                    display: flex;
                    justify-content: center;
                    svg{
                        display: block;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        text-align: center;
                        line-height: 30px;
                        background-color: #2b2b2a;
                    }
                }
                .skillIcon{
                    width: 150px;
                    border-right: 1px solid black;
                }
                .skillName{
                    width: 100px;
                }
            }
            .html{
                svg{
                    color: chocolate;
                }
            }
            .css{
                svg{
                    color: blue;
                }
            }
            .sass{
                svg{
                    color: violet;
                }
            }
            .js{
                svg{
                    color: #a8a805;
                }
            }
            .react{
                svg{
                    color: rgb(71, 144, 240);
                }
            }
        }
    }
    &.active{
        background-color: rgb(14, 0, 20);
        h3{
            color: #FFFEF2;
        }
    }
}
@keyframes left{
    100%{
        transform: rotate(180deg)
    }
}
